---
import { Image }  from 'astro:assets';

import btn1 from '/src/images/88x31/banner1.gif';
import btn2 from '/src/images/88x31/banner2.gif';
import btn3 from '/src/images/88x31/banner3.gif';
import btn4 from '/src/images/88x31/banner4.gif';
import btn5 from '/src/images/88x31/banner5.gif';
import btn6 from '/src/images/88x31/banner6.gif';
import btn7 from '/src/images/88x31/banner7.gif';
import btn8 from '/src/images/88x31/banner8.gif';
import btn9 from '/src/images/88x31/banner9.gif';
import btn10 from '/src/images/88x31/banner10.gif';
import btn11 from '/src/images/88x31/banner11.gif';
import btn12 from '/src/images/88x31/banner12.gif';
import btn13 from '/src/images/88x31/banner13.gif';
import btn14 from '/src/images/88x31/banner14.gif';
import btn15 from '/src/images/88x31/banner15.gif';

import '../../styles/components/others/88x31.styl';
---

<div class="container-buttons">
<div class="button-carousel">
  <div class="button-track">
    <div class="spaceBetween"></div>
    <Image src={btn1} alt="NixOS button" />
        <div class="spaceBetween"></div>
    <Image src={btn2} alt="Zig button" />
        <div class="spaceBetween"></div>
    <Image src={btn3} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn4} alt="NixOS button" />
        <div class="spaceBetween"></div>
    <Image src={btn5} alt="Zig button" />
        <div class="spaceBetween"></div>
    <Image src={btn6} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn7} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn8} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn9} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn10} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn11} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn12} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn13} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn14} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn15} alt="SDL button" />
        <div class="spaceBetween"></div>
 <!-- Repite -->
    <Image src={btn1} alt="NixOS button" />
        <div class="spaceBetween"></div>
    <Image src={btn2} alt="Zig button" />
        <div class="spaceBetween"></div>
    <Image src={btn3} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn4} alt="NixOS button" />
        <div class="spaceBetween"></div>
    <Image src={btn5} alt="Zig button" />
        <div class="spaceBetween"></div>
    <Image src={btn6} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn7} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn8} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn9} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn10} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn11} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn12} alt="SDL button" />
        <div class="spaceBetween"></div>
    <Image src={btn13} alt="SDL button" />
  </div>
</div>
</div>