---
import { site } from '../consts' 
import { config_site } from '../utils/config-adapter'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import { Image } from "astro:assets";
import pokeBlue from "../images/pokeball-blue.png";
import pokeRed from "../images/pokeball-red.png";
import avatar from '../images/bulbasaur-pokemon.gif';

import '../styles/home.styl'
import SocialLinks from '../components/others/SocialLinks.astro'
import Button88x31 from '../components/others/88x31.astro'
import Terminal from '../components/others/Terminal.astro'

const avatarImage = config_site.avatarPath || avatar 
---

<!DOCTYPE html>
<html lang={config_site.lang}>    <Head
        title={config_site.title}
        description={config_site.description}
        url={config_site.url}
        keywords={config_site.keywords}
        author={config_site.author}
        lang={config_site.lang}
        locale={config_site.locale}
        siteName={config_site.siteName}
        favicon={config_site.favicon}
        titleDefault={config_site.titleDefault}
        canonical={config_site.canonical}
        head={config_site.head}
    />

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <body>
        <Header />
        <div class="containerHome">
        <div class="main-wrapper">
            <div class="homeImage">
                <Image src={avatar} alt="balbasaur" class="avatarPokemon" />
            </div>
            <div class="container">
                <div class="Hometitle"><h1>{config_site.title}</h1></div>
                <div class="Homesubtitle"><h2>{config_site.author}</h2></div>
                <SocialLinks mediaLinks={config_site.medialinks || []} />
                <div class="contentHome">
        <section class="containerText">
        <div class="container-wrapper">
  <div class="container-bloque">
    <p>
      <span class="blockSpan">✦﹒◌﹒ → ﹒◌﹒✦  About me</span> <br><br> I'm a Computer Networking student from Buenos Aires with a strong self-taught background in cybersecurity. I specialize in intrusion detection, digital forensics, and have hands-on experience in penetration testing. Currently focusing on Blue Team operations, malware analysis, and reverse engineering, while learning C to enhance my low-level programming skills.

    </p>
    <Image src={pokeBlue} alt="gif-yw4rf" class="pokeBlue" />
  </div>
</div>
<div class="buttonHome">
<a href="/about">
    <button class="portfolio-button">
       About me <span class="arrow">&gt;</span>
    </button>
    </a>
    </div>
</section>
<section class="containerNewsletter">
        <div class="container-wrapper">
  <div class="container-bloque">
    <p>
      <span class="blockSpan2">My Blog  ✦﹒◌﹒ → ﹒◌﹒✦</span> <br><br> Explore my blog where I regularly post articles about CTFs, cybersecurity research, practices, experiences, and projects.

    </p>
    <Image src={pokeRed} alt="gif-yw4rf" class="pokeRed" />
  </div>
</div>
<div class="buttonHome">
<a href="/archives">
    <button class="portfolio-button">
       My blog <span class="arrow">&gt;</span>
    </button>
    </a>
    </div>
</section>
<Terminal />
</div>
            </div>
        </div>
        <Button88x31 />
</div>
    </body>
</html>