---
import { site } from '../consts' 
import { config_site } from '../utils/config-adapter'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import { Image } from "astro:assets";
import debianImg from "../images/debian.png";
import avatar from '../images/bulbasaur-pokemon.gif';
import '../styles/home.styl'
import SocialLinks from '../components/others/SocialLinks.astro'
import TextTyping from '../components/others/TextTyping.astro'
import AuthorCard from '../components/others/AuthorCard.astro'
import Button88x31 from '../components/others/88x31.astro'

const avatarImage = config_site.avatarPath || avatar 
---

<!DOCTYPE html>
<html lang={config_site.lang}>    <Head
        title={config_site.title}
        description={config_site.description}
        url={config_site.url}
        keywords={config_site.keywords}
        author={config_site.author}
        lang={config_site.lang}
        locale={config_site.locale}
        siteName={config_site.siteName}
        favicon={config_site.favicon}
        titleDefault={config_site.titleDefault}
        canonical={config_site.canonical}
        head={config_site.head}
    />
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <body>
        <Header />
        <div class="main-wrapper">
            <div class="homeImage">
                <Image src={avatar} alt="balbasaur" class="avatarPokemon" />
            </div>
            <div class="container">
                <div class="Hometitle"><h1>{config_site.title}</h1></div>
                <AuthorCard 
                    author={config_site.author} 
                    avatarPath={avatarImage}
                    avatarWidth={100}
                    avatarHeight={100}
                >
                </AuthorCard>
                <SocialLinks mediaLinks={config_site.medialinks || []} />
            </div>
        </div>
        <section class="containerText">
        <div class="container-wrapper">
  <div class="container-bloque">
    <p>
      ✦﹒◌﹒ → ﹒◌﹒✦ Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita voluptatem eveniet, reiciendis fugiat maiores provident hic incidunt. Illo ipsam maxime architecto maiores laborum quibusdam earum quas sint quo asperiores!
      Non culpa, voluptatum quo quasi consectetur voluptas eligendi nesciunt sapiente nam autem harum voluptates quae temporibus fugit iusto quis cum impedit? Facere veritatis possimus aliquam blanditiis, voluptate odit numquam nisi.
      Numquam praesentium officia saepe. Atque illum, vero facere ad aliquid ab natus laborum iure error porro, tenetur totam, mollitia enim est incidunt perferendis optio! Possimus ipsam ullam hic architecto aliquam.
    </p>
    <Image src={debianImg} alt="gif-yw4rf" class="debian-img" />
  </div>
</div>
<div class="buttonHome">
<a href="/archives">
    <button class="portfolio-button">
       My blog <span class="arrow">&gt;</span>
    </button>
    </a>
    </div>
</section>
<Button88x31 />
    </body>
</html>