---
import { site } from '../consts' 
import { config_site } from '../utils/config-adapter'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import { Image } from "astro:assets";
import avatar from '/src/images/gif/lost-gnome.gif';

import '../styles/home.styl'
import SocialLinks from '../components/others/SocialLinks.astro'
import Button88x31 from '../components/others/88x31.astro'
import Terminal from '../components/others/Terminal.astro'

const avatarImage = config_site.avatarPath || avatar 
---

<!DOCTYPE html>
<html lang={config_site.lang}>    <Head
        title={config_site.title}
        description={config_site.description}
        url={config_site.url}
        keywords={config_site.keywords}
        author={config_site.author}
        lang={config_site.lang}
        locale={config_site.locale}
        siteName={config_site.siteName}
        favicon={config_site.favicon}
        titleDefault={config_site.titleDefault}
        canonical={config_site.canonical}
        head={config_site.head}
    />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <body>
        <Header />
        <div class="containerHome">
        <div class="main-wrapper">
            <div class="homeImage">
              <Image src={avatar} alt="gif-random" class="avatarPokemon" />
            </div> 
            <div class="container">
              <div class="textHeader">
                <div class="Hometitle"><h1> {config_site.title} </h1></div>
                <div class="Homesubtitle"><h2>Networking and CybSec</h2></div>
                <div class="social-links">
                  <SocialLinks mediaLinks={config_site.medialinks || []} />
                </div>
              </div>
            <div class="contentHome">
        <section class="containerText">
        <div class="container-wrapper">
  <div class="container-bloque container-bloque1">
    <p>
      <span class="blockSpan">👤 About me</span><br><br>
    </p>
<p>Hi! I’m Yw4rf, a 20-year-old cybersecurity and networking student from Buenos Aires, Argentina. I focus on Blue Team security, threat detection, and digital forensics, practicing with home labs and tools like Wireshark, Packet Tracer, Python, and Bash. I also participate in CTFs and hands-on security labs to sharpen my skills.</p>
</div>

  </div>
</div>

<div class="buttonHome">
<a href="https://t.me/Yw4rf" target="_blank">
    <button class="portfolio-button">
       Contact me <span class="arrow">&gt;</span>
    </button>
    </a>
    </div>
</section>
<section class="containerSkills">
  <div class="container-wrapper">
  <div class="container-bloque">
    <p>
      <span class="blockSpan">⚙️ Skills</span> <br><br>
    </p>
  <!--  <Image src={Vim} alt="gif-yw4rf" class="vimSkills" /> -->
    <div class="categorySkills">
  <div class="badges">
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Wireshark_icon_new.png" /> Wireshark</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/> Python</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg"/> C</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg"/> Bash</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/powershell/powershell-original.svg"/> PowerShell</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/> MySQL</div>
    <!-- OS & Suites -->
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Kali-dragon-icon.svg" /> Kali Linux</div>
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Security_Onion_Logo.svg" /> Security Onion</div>
    <div class="badge"><img src="https://www.nosolohacking.info/wp-content/uploads/2020/09/nmap-logo-256x256-1.png" /> Nmap</div>
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Wireshark_icon_new.png" /> Wireshark</div>
    <div class="badge"><img src="https://suricata.io/wp-content/uploads/2023/09/Logo-Suricata-vert-whitetype-R.png" /> Suricata</div>
    <div class="badge"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeWRb8nkIoXAAI-0kL3PucjvciThWbSPV7vQ&s" /> Wazuh</div>
    <div class="badge"><img src="https://miro.medium.com/v2/resize:fit:954/1*ssgbiwYHOi9gIXt9pGCJYw.png" /> OpenVAS</div>
    <div class="badge"><img src="https://img.icons8.com/?size=192&id=PW0ChfedZvTh&format=png" /> Metasploit</div>
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/BurpSuite_Comunity_Edition.svg"> Burp Suite</div>
    <div class="badge"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRugKVxZtIh1SSbqxVN4jY2cMlGjRyeaxnYtA&s" /> Hashcat</div>
    <div class="badge"><img src="https://volatilityfoundation.org/wp-content/uploads/2023/11/IMG_6307.png?w=144" /> Volatility</div>
    <div class="badge"><img src="https://avatars.githubusercontent.com/u/866922?v=4" /> Autopsy</div>
    <div class="badge"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/android-4437043-3684810.png?f=webp" /> AleAPP</div>
    <div class="badge"><img src="https://cdn.freebiesupply.com/logos/large/2x/elastic-stack-logo-png-transparent.png" /> Elastic Stack</div>
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Windows_logo_-_2012.svg"> Windows</div>
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Vmware_workstation_16_icon.svg" /> VMware</div>
    <div class="badge"><img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/VirtualBox_2024_Logo.svg"/> VirtualBox</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"/> Docker</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/> Git</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/> GitHub</div>
    <div class="badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/debian/debian-original.svg"/> Debian</div>
  </div>
</div>
    <div class="card">
  <div class="targets-container">
  <a href="https://cyberdefenders.org/p/Yw4rf">
    <div class="badge-link">
      <img src="https://cyberdefenders-storage.s3.me-central-1.amazonaws.com/profile-badges/Yw4rf.png" alt="yw4rf's cyberdefenders badge">
    </div>
  </a>
    <a href="https://app.hackthebox.com/profile/2035837">
    <div class="badge-link">
      <img src="http://www.hackthebox.eu/badge/image/2035837" alt="yw4rf's hackthebox stats">
    </div>
  </a>
</div>
</div>
    </div>
  </div>
  <div class="buttonHome">
<a href="/projects">
    <button class="portfolio-button">
       Projects <span class="arrow">&gt;</span>
    </button>
    </a>
    </div>
</section>
<section class="containerNewsletter">
        <div class="container-wrapper">
  <div class="container-bloque">
    <p>
      <span class="blockSpan">📝 My Blog</span> <br><br>
      Short write-ups, CTF notes, and practical cybersecurity insights focused on blue team, detection, forensics, and hands-on labs. Some of my recommended posts:
    </p>
    <section class="blog-section">
  <ul class="blog-list">
    <li class="blog-item">
      <time datetime="2025-03-23" class="blog-date">2025-03-23</time>
      <a href="/posts/cyberdefenders/reveal/" class="blog-link">Volatility3 Analysis of STRELASTEALER via Rundll32 Proxy Execution</a>
    </li>
    <li class="blog-item">
      <time datetime="2024-11-23" class="blog-date">2024-11-23</time>
      <a href="/posts/htb/responder/" class="blog-link">LFI/RFI Chain to NTLMv2 Hash Capture and WinRM Access</a>
    </li>
    <li class="blog-item">
      <time datetime="2025-01-26" class="blog-date">2025-01-26</time>
      <a href="/posts/hackthebox/noxious/" class="blog-link">LLMNR Poisoning and NTLMv2 Hash Cracking</a>
    </li>
    <li class="blog-item">
      <time datetime="2025-02-19" class="blog-date">2025-02-19</time>
      <a href="/posts/htb/instant/" class="blog-link">APK Decompilation, LFI via Swagger API, and Solar-PuTTY Backup Decryption</a>
    </li>
  </ul>
</section>

    </div>
    <!--  <Image src={pokeRed} alt="gif-yw4rf" class="pokeRed" /> -->
  </div>
</div>
<div class="buttonHome">
<a href="/archives">
    <button class="portfolio-button">
       See all posts <span class="arrow">&gt;</span>
    </button>
    </a>
    </div>
</section>
</div>
            </div>
        </div>
</div>
    </body>
</html>
